.techTitle{
      color: white;
      -webkit-text-stroke: .1rem;
      -webkit-text-stroke-color: black;
      font-weight: 800;
      letter-spacing: 7px;
      font-size: 2rem;
      width: 50%;
      display: flex;
      justify-content: center;
}

.formDiv{
      height: 95%;
      margin-bottom: .5rem;
      margin-top: .5rem;
}